@import "custom-variables";

.allRoundPadding-50-30{
    padding: 50px 30px;
}

.b-t-1{
    border-top: 1px solid #666;
}

.b-b-1{
    border-bottom: 1px solid #666;
}

.bk-white{
    background-color: #fff;
}

.m-b-0{
    margin-bottom: 0px;
}

.allRoundPadding-40-150{
    padding: 40px 150px;
}

.NewBoardTitleStyle{
    background-color: whitesmoke;
    border-right: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

.NewBoardContensStyle{
    padding-top: 20px;
    border-bottom: 1px solid #afafaf;
}

.th_Style{
    font-size: 16px;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cke_browser_webkit.RomoveWebkit{
    display: none;
}